.header__title {
  font-size: 35px;
  letter-spacing: 1px;
  margin: 58px 0 46px;
}
.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-list__item {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-right: 50px;
  text-align: center;
  padding-top: 4px;
  padding-left: 3px;
}
.navbar-list__item:last-child {
  margin-right: 0;
}
